<div class="routerOutletContainer">
<h1 style="text-align: center;">Create Weapon</h1>
<form>
  <div class="row">
    <div class="col"><label class="col-form-label" style="width: 100%;color: var(--bs-white);">Id<input class="form-control" type="number" style="color: rgb(255,255,255);background: var(--bs-gray-700);" placeholder="Id" name="_id"></label></div>
  </div>
  <div class="row">
    <div class="col"><label class="col-form-label" style="width: 100%;">Name<input class="form-control" type="text" style="background: var(--bs-gray-700);color: rgb(255,255,255);" name="name" placeholder="Enter Name"></label></div>
  </div>
  <div class="row">
    <div class="col"><label class="col-form-label" style="width: 100%;">Rarity<input class="form-control" type="number" style="background: var(--bs-gray-700);color: rgb(255,255,255);" min="1" max="5" step="1" name="rarity" placeholder="Enter Rarity"></label></div>
    <div class="col"><label class="col-form-label" style="width: 100%;">Type<input class="form-control" type="text" style="background: var(--bs-gray-700);color: rgb(255,255,255);" name="type" placeholder="Enter Type"></label></div>
  </div>
  <div class="row">
    <div class="col"><label class="col-form-label" style="width: 100%;">Base ATK<input class="form-control" type="number" style="background: var(--bs-gray-700);color: rgb(255,255,255);" min="0" name="rarity" placeholder="Enter Damage"></label></div>
    <div class="col"><label class="col-form-label" style="width: 100%;">Substat Type<br><input class="form-control" type="text" style="color: rgb(255,255,255);background: var(--bs-gray-700);" placeholder="Enter Substat Type"></label></div>
    <div class="col"><label class="col-form-label" style="width: 100%;">Sub Stat<br><input class="form-control" type="number" style="background: var(--bs-gray-700);color: rgb(255,255,255);" min="0" name="rarity" placeholder="Enter Damage"></label></div>
  </div>
  <div class="row">
    <div class="col"><label class="col-form-label" style="width: 100%;">Location<input class="form-control" type="text" style="background: var(--bs-gray-700);color: rgb(255,255,255);" name="location" placeholder="Enter Location"></label></div>
  </div>
  <div class="row">
    <div class="col"><label class="col-form-label" style="width: 100%;">Description<textarea class="form-control" style="background: var(--bs-gray-700);color: rgb(255,255,255);" name="description" placeholder="Enter a description"></textarea></label></div>
  </div>
  <div class="row">
    <div class="col"><label class="col-form-label" style="width: 100%;">Lore<textarea class="form-control" style="background: var(--bs-gray-700);" name="lore" placeholder="Enter a lore"></textarea></label></div>
  </div>
  <div class="row">
    <div class="col"><label class="col-form-label" style="width: 100%;">Image Link<input class="form-control" type="text" style="background: var(--bs-gray-700);color: rgb(255,255,255);" name="image" placeholder="Enter image link"></label></div>
  </div>
  <div class="row">
    <div class="col d-xl-flex justify-content-xl-center"><button class="btn btn-primary" type="button" style="width: 50%;margin: 10px;">Submit</button></div>
  </div>
</form>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</div>
