# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Lab Sessional.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Rider Projects\University\Visual Programming\Lab Sessional\.idea\.idea.Lab Sessional\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
