<nav class="navbar navbar-light navbar-expand-lg navigation-clean-button" style="background: rgb(55,55,55);">
  <div class="container"><img src="assets/img/Games-GenshinImpact-1024x1024.png" style="width: 50px;margin-right: 10px;"><a class="navbar-brand" href="#" style="color: rgb(243,243,243);">Genshin Impact</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="navbar-nav me-auto">
        <li class="nav-item" style="color: var(--bs-blue);"><a class="nav-link" [routerLink]="'characters'" style="color: #4572a7;">Characters</a></li>
        <li class="nav-item" style="color: var(--bs-pink);"><a class="nav-link" [routerLink]="'weapons'" style="color: #4572a7;">Weapons</a></li>
        <li class="nav-item" style="color: var(--bs-pink);"><a class="nav-link" [routerLink]="'artifacts'" style="color: #4572a7;">Artifacts</a></li>
        <li class="nav-item" style="color: var(--bs-pink);"><a class="nav-link" [routerLink]="''" style="color: #4572a7;">My Backpack</a></li>
      </ul><span class="navbar-text actions">
      <a class="login" [routerLink]="'login'" style="color: rgb(245,245,245);">Log In</a>
      <a class="btn btn-light action-button" role="button" [routerLink]="'signup'" style="color: var(--bs-body-bg);background: var(--bs-blue);border-radius: 10px;">Sign Up</a></span>
    </div>
  </div>
</nav>

    <router-outlet></router-outlet>
<footer class="footer-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3 item">
        <h3>Services</h3>
        <ul>
          <li><a href="#">Web design</a></li>
          <li><a href="#">Development</a></li>
          <li><a href="#">Hosting</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3 item">
        <h3>About</h3>
        <ul>
          <li><a href="#">Company</a></li>
          <li><a href="#">Team</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
      </div>
      <div class="col-md-6 item text">
        <h3>Genshin Impact Helper</h3>
        <p>Genshin Impact helper gives you information about what the characters, artifacts and weapons in the game and allows you to save what u have in the game</p>
      </div>
      <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
    </div>
    <p class="copyright">Company Name © 2021</p>
  </div>
</footer>



