<div class="accordion-collapse routerOutletContainer">
  <div class="d-flex d-sm-flex d-xl-flex align-items-center align-items-sm-center align-items-xl-center" style="width: 100%;">
    <img src="{{currentArtifactSet.artifacts[0].image}}" style="width: 30%;">
    <div style="display: inline-block;width: 69%;">
      <h1 class="display-1 text-start" style="font-family: Alata, sans-serif;">{{currentArtifactSet.name}}</h1>
      <div style="color: var(--bs-warning);padding: 10px;">
        <i class="fa fa-star" style="font-size: 40px;" *ngFor="let artifact of counter(currentArtifactSet.maxRarity)"></i>
      </div>
    </div>
  </div>
  <div style="padding: 30px;">
    <div>
      <h2>2 Piece Bonus:</h2>
      <p>{{currentArtifactSet.twoPieceBonus}}</p>
    </div>
    <div>
      <h2>4 Piece Bonus:</h2>
      <p>{{currentArtifactSet.fourPieceBonus}}</p>
    </div>
  </div>
  <div>
    <ul class="list-unstyled" style="padding: 20px;">
      <li class="d-flex align-items-center" style="padding: 20px;border-radius: 10px;border-width: 1px;border-style: solid;margin-bottom: 10px;" *ngFor="let artifact of currentArtifactSet.artifacts">
        <div style="width: 30%;">
          <img class="d-inline-flex flex-grow-0 flex-shrink-1 justify-content-center align-items-center" src="{{artifact.image}}" style="width: 100%;" width="100%"></div>
        <div style="display: inline-block;width: 79%;">
          <div>
            <h1>{{artifact.name}}</h1>
            <p>{{artifact.type}}</p>
          </div>
          <div style="color: var(--bs-warning);padding: 10px;">
            <i *ngFor="let i of counter(artifact.rarity)" class="fa fa-star" style="font-size: 40px;"></i>
          </div>
          <div>
            <h3>Location:</h3>
            <p>{{artifact.location}}</p>
          </div>
          <div>
            <h3>Description:</h3>
            <p>{{artifact.description}}</p>
          </div>
          <div>
            <h3>Lore:</h3>
            <p>{{artifact.lore}}</p>
          </div>
          <div style="font-size: 30px;text-align: center;">
            <a [routerLink]="'/editArtifact/' + artifact.id" style="color: rgb(255,255,255);margin-right: 10px;margin-left: 10px;"><i class="fa fa-edit" style="color: var(--bs-warning);"></i></a>
            <a style="color: rgb(255,255,255);margin-right: 10px;margin-left: 10px; " (click)="deleteArtifact(artifact.id)"><i class="fa fa-trash-o" style="color: var(--bs-red);"></i></a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
