<section class="py-5 bg-dark routerOutletContainer" style="color: rgb(254,254,254);background: rgba(0,0,0,0);">
  <h1 class="display-1 text-center text-success" style="padding-top: 15px;padding-bottom: 15px;color: #1b6ce5!important;">Artifacts</h1>
  <section class="d-flex justify-content-center photo-gallery">
    <div class="container d-flex justify-content-center">
      <div class="row text-center d-md-flex d-lg-flex d-xl-flex justify-content-md-center justify-content-lg-center justify-content-xl-center photos" data-bss-baguettebox="" style="min-width: 30%;max-width: 100%;width: 100%;">
        <div *ngFor="let artifactSet of artifactSets" class="col-sm-6 col-md-4 col-lg-3 text-center item" style="border-radius: 10px;border-width: 1px;border-style: solid;margin: 10px;padding: 10px;width: 30%;">
          <img [routerLink]="'/artifacts/' + artifactSet._id" src="{{artifactSet.artifacts[0].image}}" style="width: 250px;height: 250px;">
          <div style="font-size: 30px;color: rgb(233,202,91);">
            <i *ngFor="let i of counter(artifactSet.maxRarity)" class="fa fa-star"></i>
          </div>
          <h1 [routerLink]="'/artifacts/' + artifactSet._id" class="text-center">{{artifactSet.name}}</h1>
        </div>
      </div>
    </div>
  </section>
</section>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
