# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Quiz 4.iml
# Datasource local storage ignored files
/../../../../../../../../:\Rider Projects\University\Visual Programming\Quiz 4\.idea\.idea.Quiz 4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
