# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.VP Lab 3.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Rider Projects\University\Visual Programming\VP Lab 3\.idea\.idea.VP Lab 3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
