<section class="login-dark" style="background: url('assets/img/wallpaper.jpg') center / cover no-repeat;">
  <form method="post">
    <h2 class="visually-hidden">Login Form</h2>
    <div class="illustration"><img class="img-fluid" src="assets/img/Games-GenshinImpact-1024x1024.png" width="150"></div>
    <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="Email"></div>
    <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password"></div>
    <div class="mb-3"><a class="btn btn-primary d-block w-100" role="button" href="layout.html">Log In</a></div><a class="forgot" href="#" style="color: var(--bs-blue);">Forgot your email or password?</a><a class="forgot" href="signup.html" style="background: rgba(13,110,253,0);border-color: var(--bs-blue);color: var(--bs-blue);">Don't have an account? Sign up!</a>
  </form>
</section>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
