<div class="accordion-collapse routerOutletContainer">
  <div class="d-flex d-sm-flex d-xl-flex align-items-center align-items-sm-center align-items-xl-center" style="width: 100%;"><img src="{{currentWeapon.image}}" style="width: 30%;">
    <div style="display: inline-block;width: 69%;">
      <div>
        <h1 class="display-1 text-start" style="font-family: Alata, sans-serif;margin-bottom: 0px;">{{currentWeapon.name}}</h1><span style="font-size: 20px;">{{currentWeapon.type}}</span>
      </div>
      <div style="color: var(--bs-warning);padding: 10px;">
        <i *ngFor="let i of counter(currentWeapon.rarity)" class="fa fa-star"></i>
      </div>
      <div>
        <div style="margin: 5px;">
          <h3 style="color: var(--bs-blue);font-weight: bold;">Base ATK:&nbsp;</h3><span style="font-size: 20px;color: rgb(158,155,155);">{{currentWeapon.baseAtk}}<br></span>
        </div>
        <div style="margin: 5px;">
          <h3 style="color: var(--bs-blue);font-weight: bold;">Substat: </h3><span style="font-size: 20px;color: rgb(158,155,155);">{{currentWeapon.subStat}} {{currentWeapon.subStatType}}<br></span>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-top: 10px;">
    <div>
      <h3>Ability:</h3><span style="font-size: 20px;">{{currentWeapon.abilityName}}<br></span>
      <p>{{currentWeapon.abilityDescription}}<br></p>
    </div>
    <div>
      <h3>Description:</h3>
      <p>{{currentWeapon.description}}</p>
    </div>
    <div>
      <h3>Lore:</h3>
      <p>{{currentWeapon.lore}}</p>
    </div>
  </div>
</div>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
