# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Lab 7.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Rider Projects\University\Visual Programming\Lab 7\.idea\.idea.Lab 7\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
