<div class="routerOutletContainer">
  <h1 style="text-align: center; ">Create Artifact</h1>
  <div>
    <div class="row">
      <div class="col"><label class="col-form-label" style="width: 100%;color: var(--bs-white);">Id<input class="form-control" type="number" style="color: rgb(255,255,255);background: var(--bs-gray-700);" placeholder="Id" name="_id" [(ngModel)]="currentArtifact.id"></label></div>
    </div>
    <div class="row">
      <div class="col"><label class="col-form-label" style="width: 100%;">Name<input class="form-control" type="text" style="background: var(--bs-gray-700);color: rgb(255,255,255);" name="name" placeholder="Enter Name" [(ngModel)]="currentArtifact.name"></label></div>
    </div>
    <div class="row">
      <div class="col"><label class="col-form-label" style="width: 100%;">Rarity<input class="form-control" type="number" style="background: var(--bs-gray-700);color: rgb(255,255,255);" min="1" max="5" step="1" name="rarity" placeholder="Enter Rarity" [(ngModel)]="currentArtifact.rarity"></label></div>
      <div class="col"><label class="col-form-label" style="width: 100%;">Type<input class="form-control" type="text" style="background: var(--bs-gray-700);color: rgb(255,255,255);" name="type" placeholder="Enter Type" [(ngModel)]="currentArtifact.type"></label></div>
    </div>
    <div class="row">
      <div class="col"><label class="col-form-label" style="width: 100%;">Location<input class="form-control" type="text" style="background: var(--bs-gray-700);color: rgb(255,255,255);" name="location" placeholder="Enter Location" [(ngModel)]="currentArtifact.location"></label></div>
    </div>
    <div class="row">
      <div class="col"><label class="col-form-label" style="width: 100%;">Description<textarea class="form-control" style="background: var(--bs-gray-700);color: rgb(255,255,255);" name="description" placeholder="Enter a description" [(ngModel)]="currentArtifact.description"></textarea></label></div>
    </div>
    <div class="row">
      <div class="col"><label class="col-form-label" style="width: 100%;">Lore<textarea class="form-control" style="background: var(--bs-gray-700);" name="lore" placeholder="Enter a lore" [(ngModel)]="currentArtifact.lore"></textarea></label></div>
    </div>
    <div class="row">
      <div class="col"><label class="col-form-label" style="width: 100%;">Image Link<input class="form-control" type="text" style="background: var(--bs-gray-700);color: rgb(255,255,255);" name="image" placeholder="Enter image link" [(ngModel)]="currentArtifact.image"></label></div>
    </div>
    <h1 style="text-align: center;">Artifact Set</h1>
    <div class="row">
      <div class="col"><label class="col-form-label" style="width: 100%;">Id<input class="form-control" type="text" style="background: var(--bs-gray-700);color: rgb(255,255,255);" name="setId" placeholder="Enter Artifact Set Id" [(ngModel)]="currentArtifact.artifactSet.id"></label></div>
    </div>
    <div class="row">
      <div class="col"><label class="col-form-label" style="width: 100%;">Name<input class="form-control" type="text" style="background: var(--bs-gray-700);color: rgb(255,255,255);" name="setName" placeholder="Enter Artifact Set Name" [(ngModel)]="currentArtifact.artifactSet.name"></label></div>
    </div>
    <div class="row">
      <div class="col"><label class="col-form-label" style="width: 100%;">Max Rarity<input class="form-control" type="number" style="background: var(--bs-gray-700);color: rgb(255,255,255);" name="setRarity" placeholder="Enter Max rarity of artifact" min="1" max="5" step="1" [(ngModel)]="currentArtifact.artifactSet.maxRarity"></label></div>
    </div>
    <div class="row">
      <div class="col"><label class="col-form-label" style="width: 100%;">2 piece bonus<textarea class="form-control" style="background: var(--bs-gray-700);" name="setTwoPieceBoonus" placeholder="Enter 2 piece bonus of Artifact Set" [(ngModel)]="currentArtifact.artifactSet.twoPieceBonus"></textarea></label></div>
    </div>
    <div class="row">
      <div class="col"><label class="col-form-label" style="width: 100%;">4 piece bonus<textarea class="form-control" style="background: var(--bs-gray-700);color: rgb(255,255,255);" name="setFourPieceBoonus" placeholder="Enter 4 piece bonus of Artifact Set" [(ngModel)]="currentArtifact.artifactSet.fourPieceBonus"></textarea></label></div>
    </div>
    <div class="row">
      <div class="col d-xl-flex justify-content-xl-center"><button class="btn btn-primary" type="button" style="width: 50%;margin: 10px;" (click)="onSubmit()">Submit</button></div>
    </div>
  </div>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</div>
