<div class="routerOutletContainer">
  <h1 style="text-align: center;">Create Weapon</h1>
  <div>
    <div class="row">
      <div class="col"><label class="col-form-label" style="width: 100%;color: var(--bs-white);">Id<input class="form-control" type="text" style="color: rgb(255,255,255);background: var(--bs-gray-700);" placeholder="Id" [(ngModel)]="currentWeapon.id"></label></div>
    </div>
    <div class="row">
      <div class="col"><label class="col-form-label" style="width: 100%;">Name<input class="form-control" type="text" style="background: var(--bs-gray-700);color: rgb(255,255,255);" placeholder="Enter Name" [(ngModel)]="currentWeapon.name"></label></div>
    </div>
    <div class="row">
      <div class="col"><label class="col-form-label" style="width: 100%;">Rarity<input class="form-control" type="number" style="background: var(--bs-gray-700);color: rgb(255,255,255);" min="1" max="5" step="1" placeholder="Enter Rarity" [(ngModel)]="currentWeapon.rarity"></label></div>
      <div class="col"><label class="col-form-label" style="width: 100%;">Type<input class="form-control" type="text" style="background: var(--bs-gray-700);color: rgb(255,255,255);" placeholder="Enter Type" [(ngModel)]="currentWeapon.type"></label></div>
    </div>
    <div class="row">
      <div class="col"><label class="col-form-label" style="width: 100%;">Base ATK<input class="form-control" type="number" style="background: var(--bs-gray-700);color: rgb(255,255,255);" min="0" placeholder="Enter Damage" [(ngModel)]="currentWeapon.baseAtk"></label></div>
      <div class="col"><label class="col-form-label" style="width: 100%;">Substat Type<br><input class="form-control" type="text" style="color: rgb(255,255,255);background: var(--bs-gray-700);" placeholder="Enter Substat Type" [(ngModel)]="currentWeapon.subStatType"></label></div>
      <div class="col"><label class="col-form-label" style="width: 100%;">Sub Stat<br><input class="form-control" type="number" style="background: var(--bs-gray-700);color: rgb(255,255,255);" min="0" placeholder="Enter Damage" [(ngModel)]="currentWeapon.subStat"></label></div>
    </div>
    <div class="row">
      <div class="col"><label class="col-form-label" style="width: 100%;">Location<input class="form-control" type="text" style="background: var(--bs-gray-700);color: rgb(255,255,255);" placeholder="Enter Location" [(ngModel)]="currentWeapon.location"></label></div>
    </div>
    <div class="row">
      <div class="col"><label class="col-form-label" style="width: 100%;">Description<textarea class="form-control" style="background: var(--bs-gray-700);color: rgb(255,255,255);" placeholder="Enter a description" [(ngModel)]="currentWeapon.description"></textarea></label></div>
    </div>
    <div class="row">
      <div class="col"><label class="col-form-label" style="width: 100%;">Lore<textarea class="form-control" style="background: var(--bs-gray-700); color: var(--bs-white)" placeholder="Enter a lore" [(ngModel)]="currentWeapon.lore"></textarea></label></div>
    </div>
    <div class="row">
      <div class="col"><label class="col-form-label" style="width: 100%;">Image Link<input class="form-control" type="text" style="background: var(--bs-gray-700);color: rgb(255,255,255);" placeholder="Enter image link" [(ngModel)]="currentWeapon.image"></label></div>
    </div>
    <div class="row">
      <div class="col d-xl-flex justify-content-xl-center"><button class="btn btn-primary" type="button" style="width: 50%;margin: 10px;" (click)="onSubmit()">Submit</button></div>
    </div>
  </div>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</div>
